
body {
  background: linear-gradient(-45deg, #ff825c, #611c35, #2e5077, #c8ffbe);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#cityLatLon {
  font-weight: 600;
}
#wholeCard {
  width: 500px;
  height: 500px;
  align-content: center;
  padding: 20px;
  background-color: antiquewhite;
  align-items: center;
}
#movies {
  width: 20rem;
  justify-content: center;

}
#movieArticle {
  align-content: center;
  justify-content: center;
}
#summary {
  overflow: auto;
  height: 250px;
  width: 300px;
  font-size: 18px;
  line-height: 1.5rem;
  font-weight: lighter;
  font-family: 'Times New Roman', Times, serif;
}
.card {
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  width: 250px;
}
.card img {
  width: 318px;
}
#list-group-flush {
  float: right;
 
}
div.card-body{
 
  background: linear-gradient(-45deg, #f7b9a7, #553943, #a1c5ee, #d7f8d1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 25rem;
}
div.list-group-item{
  background: linear-gradient(-45deg, #f7e0d9, #fbdce7, #e5f0fc, #e0f7dc);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-size: 18px;

  width: 150px;
  padding-top: 1.5rem;
}
.alert {
  margin-top: 35px;
  display: inline-block;
  min-height: 100px;
  max-width: 750px;
  min-width: 600px;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  background-image: url(/src/alert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* #mainHeader {
  text-align: center;
  padding-top: 1rem;
  height: 2rem;
  font-size: 90px;
  font-family: 'Permanent Marker', cursive;
} */
/* body {
  background-color: #ecf0f1;
  perspective: 4000;
  perspective-origin: 50% 0%;
}

.view {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
}

.circles {
  height: 100%;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  padding: 0;
  border: 15px solid #cfd9db;
  border-radius: 50%;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

#h1item {
  border: 15px solid #ccd7d9;
  border-color: #ccd7d9 #d2dbde #d7e0e2 #d2dbde;
  box-shadow: 0 1px 0 white, inset 0 5px 0px #aebfc4, inset 0 10px 0px #aebfc4, 0 5px 0 #bdcbce, 0 10px 0 #bdcbce;
  width: 400px;
  height: 400px;
  transform: rotateX(70deg) translate3d(0px, 0px, -30px);
  animation: wave1 2s ease-in-out -0ms infinite alternate;
} */

/* @keyframes wave1 {
  100% {
    transform: rotateX(70deg) translate3d(0px, 0px, 100px);
  }
}
#h2item {
  border: 15px solid #c9d4d7;
  border-color: #c9d4d7 #cfd9db #d5dde0 #cfd9db;
  box-shadow: 0 1px 0 white, inset 0 5px 0px #abbdc1, inset 0 10px 0px #abbdc1, 0 5px 0 #bac9cc, 0 10px 0 #bac9cc;
  width: 340px;
  height: 340px;
  transform: rotateX(70deg) translate3d(30px, 0px, -60px);
  animation: wave2 2s ease-in-out -400ms infinite alternate;
}

@keyframes wave2 {
  100% {
    transform: rotateX(70deg) translate3d(30px, 0px, 70px);
  }
}
#h3item {
  border: 15px solid #c6d2d5;
  border-color: #c6d2d5 #ccd7d9 #d2dbde #ccd7d9;
  box-shadow: 0 1px 0 white, inset 0 5px 0px #a8bbbf, inset 0 10px 0px #a8bbbf, 0 5px 0 #b7c6ca, 0 10px 0 #b7c6ca;
  width: 280px;
  height: 280px;
  transform: rotateX(70deg) translate3d(60px, 0px, -90px);
  animation: wave3 2s ease-in-out -800ms infinite alternate;
}

@keyframes wave3 {
  100% {
    transform: rotateX(70deg) translate3d(60px, 0px, 40px);
  }
}
#h4item {
  border: 15px solid #c3d0d3;
  border-color: #c3d0d3 #c9d4d7 #cfd9db #c9d4d7;
  box-shadow: 0 1px 0 white, inset 0 5px 0px #a6b8bd, inset 0 10px 0px #a6b8bd, 0 5px 0 #b4c4c8, 0 10px 0 #b4c4c8;
  width: 220px;
  height: 220px;
  transform: rotateX(70deg) translate3d(90px, 0px, -120px);
  animation: wave4 2s ease-in-out -1200ms infinite alternate;
}

@keyframes wave4 {
  100% {
    transform: rotateX(70deg) translate3d(90px, 0px, 10px);
  }
}
#h5item {
  border: 15px solid #c0cdd1;
  border-color: #c0cdd1 #c6d2d5 #ccd7d9 #c6d2d5;
  box-shadow: 0 1px 0 white, inset 0 5px 0px #a3b6bb, inset 0 10px 0px #a3b6bb, 0 5px 0 #b1c2c6, 0 10px 0 #b1c2c6;
  width: 160px;
  height: 160px;
  transform: rotateX(70deg) translate3d(120px, 0px, -150px);
  animation: wave5 2s ease-in-out -1600ms infinite alternate;
}

@keyframes wave5 {
  100% {
    transform: rotateX(70deg) translate3d(120px, 0px, -20px);
  }
}
#h6item {
  border: 15px solid #bdcbce;
  border-color: #bdcbce #c3d0d3 #c9d4d7 #c3d0d3;
  box-shadow: 0 1px 0 white, inset 0 5px 0px #a0b4b9, inset 0 10px 0px #a0b4b9, 0 5px 0 #aebfc4, 0 10px 0 #aebfc4;
  width: 100px;
  height: 100px;
  transform: rotateX(70deg) translate3d(150px, 0px, -180px);
  animation: wave6 2s ease-in-out -2000ms infinite alternate;
}

@keyframes wave6 {
  100% {
    transform: rotateX(70deg) translate3d(150px, 0px, -50px);
  }
}
#h7item {
  border: 15px solid #bac9cc;
  border-color: #bac9cc #c0cdd1 #c6d2d5 #c0cdd1;
  box-shadow: 0 1px 0 white, inset 0 5px 0px #9db1b7, inset 0 10px 0px #9db1b7, 0 5px 0 #abbdc1, 0 10px 0 #abbdc1;
  width: 40px;
  height: 40px;
  transform: rotateX(70deg) translate3d(180px, 0px, -210px);
  animation: wave7 2s ease-in-out -2400ms infinite alternate;
}

@keyframes wave7 {
  100% {
    transform: rotateX(70deg) translate3d(180px, 0px, -80px);
  }
} */

/*  */


